@import url("https://fonts.googleapis.com/css2?family=Jost:wght@200;400;500;600;700;800&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  color: #1b1b1d;
  font-family: "Jost", Arial, sans-serif;
}

html.menu-open {
  overflow-y: hidden;
}

.my-container {
  width: min(1180px, 100%);
  margin: 0 auto;
  padding: 0 20px;
}

.custom-link {
  outline: none;
  transition: opacity 0.3s;
}

.custom-link:hover {
  opacity: 9;
}

.custom-link::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #1b1b1d;
  transition: width 0.3s;
}

.custom-link:hover::after {
  width: 100%;
}

.primary-button {
  padding: 10px 20px;
  background-color: #1b1b1d;
  border: 1px solid #1b1b1d;
  color: #ffff;
  border-radius: 30px;
  transition: 150ms all;
  text-transform: uppercase;
}

.primary-button:hover {
  background-color: transparent;
  color: #1b1b1d;
}
